// Color
$color: (
  primary: #1e9fff,
  tan: #d2b48c,
  warning: #f7b824,
  danger: #ff5722,
  default: #fff,
  royal: #8a6de9,
  cool: #393d49
);

$primary: #1e9fff;
$tan: #d2b48c;
$warning: #f7b824;
$danger: #ff5722;
$default: #fff;
$royal: #8a6de9;
$cool: #393d49;
